#MTA standard
_outTest/
outTest/
_example/
logs/
memo

#Ignore Pycache Files
__pycache__/

#Ignore Database Files
*.db
*.db~

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx documentation
docs/_build/
