{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- -->
<!-- import html macros -->
<!-- -->
{%  from 'ocatdatapage/macros.html' import create_entry, help_popup_page, map_image_opener %}

{% set cdo_http  = 'https://icxc.cfa.harvard.edu/cgi-bin/cdo/' %}
{% set cda_http  = 'https://cda.cfa.harvard.edu/chaser/startViewer.do?menuItem=sequenceSummary&obsid=' %}
{% set sobsid = form.gen_param.obsid.data | string %}
{% set hlink  = cda_http + sobsid %}

{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}
<h1>Just  simple display of information with a header</h1>
<p>
<b>A brief description of the listed parameters is given in: 
{{ help_popup_page('../static/ocatdatapage/user_help.html', 'Ocat Data Help') }}
</b>
</p>
<form method="POST">
    {{ form.hidden_tag() }}
    <h2>General Parameters
        {{ help_popup_page('../static/ocatdatapage/user_help.html#general_parameters', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>
        <th>{{form.gen_param.seq_nbr.label}}: </th>
        <td>
            <a href="javascript:WindowOpener('{{ hlink }}','seq_nbr')">
                {{ form.gen_param.seq_nbr.data }}
            </a>
        </td>
        {{ create_entry(form.gen_param.status) }}
        {{ create_entry(form.gen_param.obsid) }}
        {{ create_entry(form.gen_param.proposal_number) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.proposal_title) }} 
        </tr>
        <tr>
        {{ create_entry(form.gen_param.obs_ao_str) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.targname) }}
        {{ create_entry(form.gen_param.si_mode) }}
        {{ create_entry(form.gen_param.aca_mode) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.instrument) }}
        {{ create_entry(form.gen_param.grating) }}
        {{ create_entry(form.gen_param.obs_type) }}
        </tr>
        <tr>
        <td colspan="6" style="padding-left:5px">
        Click {{ form.refresh() }}
        to unlock ACIS/HRC Parameter options after updating Instrument.
        </td>
        </tr>
    </table>
    <table vorder=0>
        <tr>
        {{ create_entry(form.gen_param.pi_name) }}
        {{ create_entry(form.gen_param.observer) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.approved_exposure_time) }}<td style='text-align:left;'>(ksec)</td>
        {{ create_entry(form.gen_param.rem_exp_time) }}<td>(ksec)</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.proposal_joint) }}
        </tr>
    </table>
        <div style='margin-left:40px;'>
        <table border=0>
            <tr>
            {{ create_entry(form.gen_param.proposal_hst) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_noao) }}
            </tr>
            <tr>
            {{ create_entry(form.gen_param.proposal_xmm) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_rxte) }}
            </tr>
            <tr>
            {{ create_entry(form.gen_param.proposal_vla) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_vlba) }}
            </tr>
        </table>
        </div>
    <table>
        <tr>
        {{ create_entry(form.gen_param.soe_st_sched_date) }}
        {{ create_entry(form.gen_param.lts_lt_plan) }}
        </tr>
    </table>

    <p style='padding-top:20px'>
    If you'd like to see the current viewing orientation, open: 
            {{ map_image_opener(form.gen_param.dss, 'blue') }},
            {{ map_image_opener(form.gen_param.rosat, 'blue') }},
            {{ map_image_opener(form.gen_param.rass, 'blue') }}
    (Note: These figures do not always exist.)
    </p>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.ra_hms) }}
        {{ create_entry(form.gen_param.dec_dms) }}
        {{ create_entry(form.gen_param.planned_roll) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.ra) }}
        {{ create_entry(form.gen_param.dec) }}
        {{ create_entry(form.gen_param.soe_roll) }}
        </tr>
    </table>
    <p style="padding-top:10px">
    Enter RA and Dec in HMS/DMS format (separated by colons, 
    e.g. 16:22:04.8 -27:43:04.0) then click:
    {{ form.refresh() }}
    to update the decimal RA/Dec values.
    </p>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.y_det_offset) }}<td>(arcmin)</td>
        {{ create_entry(form.gen_param.z_det_offset) }}<td>(arcmin)</td>
        </tr>
        <tr>
        {{ create_entry(form.gen_param.trans_offset) }}<td>(mm, not arcmin!)</td>
        {{ create_entry(form.gen_param.focus_offset) }}<td>(mm)</td>
        </tr>
        <tr>
        {{ create_entry(form.gen_param.raster_scan) }}
        <td cellspan=2> &#160;</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.uninterrupt) }}
        {{ create_entry(form.gen_param.extended_src) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.obj_flag) }}
        {{ create_entry(form.gen_param.object) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.photometry_flag) }}
        {{ create_entry(form.gen_param.vmagnitude) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.est_cnt_rate) }}
        {{ create_entry(form.gen_param.forder_cnt_rate) }}
        </tr>
    </table>
    <hr>
        <h2>Dither</h2>
        {% if form.dither_param.dither_flag.data != 'Y' %}
            {{form.open_dither()}}<br>
        {% else %}
        {{ create_entry(form.dither_param.dither_flag) }}
            <div style='margin-left:40px;'>
                <table border=0>
                    <tr>
                    {{ create_entry(form.dither_param.y_amp_asec) }}
                    {{ create_entry(form.dither_param.y_freq_asec) }}
                    {{ create_entry(form.dither_param.y_phase) }}
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.y_amp) }}
                    {{ create_entry(form.dither_param.y_freq) }}
                    <td colspan=1>&#160;</td>
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.z_amp_asec) }}
                    {{ create_entry(form.dither_param.z_freq_asec) }}
                    {{ create_entry(form.dither_param.z_phase) }}
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.z_amp) }}
                    {{ create_entry(form.dither_param.z_freq) }}
                    <td colspan=1>&#160;</td>
                    </tr>
                </table>
            </div>
            <p style='padding-top:10px;'>
            To reflect the changes made in arcsec windows to degree displays or Dither YES/NO/NA confirmation, click: {{ form.refresh() }}
            </p>
        {% endif %}
        {{ form.submit() }}<br/>
</form>
{% endblock %}