{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- -->
<!-- import html macros -->
<!-- -->
{%  from 'ocatdatapage/macros.html' import create_entry, help_popup_page, map_image_opener %}

{% set cdo_http  = 'https://icxc.cfa.harvard.edu/cgi-bin/cdo/' %}
{% set cda_http  = 'https://cda.cfa.harvard.edu/chaser/startViewer.do?menuItem=sequenceSummary&obsid=' %}
{% set sobsid = form.gen_param.obsid.data | string %}
{% set hlink  = cda_http + sobsid %}


{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}

<!-- -->
<!-- if there are any warnings, display here -->
<!-- -->
{% if warning != '' %}
<h3 style='color:#db1709;'>{{ warning }}</h3>
{% else %}
<h3 style='color:#db1709;'>TODO: include future check here for ['unobserved', 'scheduled', 'untriggered'] status obsid which are in our "Approved" list and warn that this observation is already on the approved list.</h3>
{% endif %}
<!-- -->
<!-- if something went wrong with updating the data file... --->
<!-- -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red; font-size:160%;'>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- -->
<!-- a popup help page link -->
<!-- -->
<p>
<b>A brief description of the listed parameters is given in: 
{{ help_popup_page('../static/ocatdatapage/user_help.html', 'Ocat Data Help') }}
</b>
</p>
<!-- -->
<!-- DSS/ROSAT/RASS map links -->
<!-- -->
<table>
    <tr>
    <th class='link1'>{{ map_image_opener(form.gen_param.dss, 'magenta') }}</th>
    <td>&#160;</td>
    <th class='link1'>{{ map_image_opener(form.gen_param.rosat, 'orange') }}</th>
    <td>&#160;</td>
    <th class='link1'>{{ map_image_opener(form.gen_param.rass, 'yellow') }}</th>
    </tr>
</table>
<!-- -->
<!-- observation summary table link -->
<!-- -->
<p style='padding-top:10px;'>
{{ help_popup_page(hlink, 'Sequence  # Summary', 120, 'seq_nbr') }}
(with Roll/Pitch/Visibility Plots)
</p>
<hr>
<!------------------------------------------------------------------------------------------------------------------------------->
<form method="POST">
    {{ form.hidden_tag() }}
    <h2 id="gen_param">General Parameters
        {{ help_popup_page('../static/ocatdatapage/user_help.html#general_parameters', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>
        <th>{{form.gen_param.seq_nbr.label.text}}: </th>
        <td>
            <a href="javascript:WindowOpener('{{ hlink }}','seq_nbr')">
                {{ form.gen_param.seq_nbr.data }}
            </a>
        </td>
        {{ create_entry(form.gen_param.status) }}
        {{ create_entry(form.gen_param.obsid) }}
        {{ create_entry(form.gen_param.proposal_number) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.proposal_title) }} 
        </tr>
        <tr>
        {{ create_entry(form.gen_param.obs_ao_str) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.targname, size=20) }}
        {{ create_entry(form.gen_param.si_mode) }}
        {{ create_entry(form.gen_param.aca_mode) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.instrument) }}
        {{ create_entry(form.gen_param.grating) }}
        {{ create_entry(form.gen_param.obs_type) }}
        </tr>
        <tr>
        <td colspan="6" style="padding-left:5px">
        Click {{ form.refresh() }}
        to unlock ACIS/HRC Parameter options after updating Instrument.
        </td>
        </tr>
    </table>
    <table vorder=0>
        <tr>
        {{ create_entry(form.gen_param.pi_name) }}
        {{ create_entry(form.gen_param.observer) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.approved_exposure_time) }}<td style='text-align:left;'>(ksec)</td>
        {{ create_entry(form.gen_param.rem_exp_time) }}<td>(ksec)</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.proposal_joint) }}
        </tr>
    </table>
        <div style='margin-left:40px;'>
        <table border=0>
            <tr>
            {{ create_entry(form.gen_param.proposal_hst) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_noao) }}
            </tr>
            <tr>
            {{ create_entry(form.gen_param.proposal_xmm) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_rxte) }}
            </tr>
            <tr>
            {{ create_entry(form.gen_param.proposal_vla) }}
            <td>&#160;</td>
            {{ create_entry(form.gen_param.proposal_vlba) }}
            </tr>
        </table>
        </div>
    <table>
        <tr>
        {{ create_entry(form.gen_param.soe_st_sched_date) }}
        {{ create_entry(form.gen_param.lts_lt_plan) }}
        </tr>
    </table>

    <p style='padding-top:20px'>
    If you'd like to see the current viewing orientation, open: 
            {{ map_image_opener(form.gen_param.dss, 'blue') }},
            {{ map_image_opener(form.gen_param.rosat, 'blue') }},
            {{ map_image_opener(form.gen_param.rass, 'blue') }}
    (Note: These figures do not always exist.)
    </p>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.ra_hms) }}
        {{ create_entry(form.gen_param.dec_dms) }}
        {{ create_entry(form.gen_param.planned_roll) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.ra) }}
        {{ create_entry(form.gen_param.dec) }}
        {{ create_entry(form.gen_param.soe_roll) }}
        </tr>
    </table>
    <p style="padding-top:10px">
    Enter RA and Dec in HMS/DMS format (separated by colons, 
    e.g. 16:22:04.8 -27:43:04.0) then click:
    {{ form.refresh() }}
    to update the decimal RA/Dec values.
    </p>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.y_det_offset) }}<td>(arcmin)</td>
        {{ create_entry(form.gen_param.z_det_offset) }}<td>(arcmin)</td>
        </tr>
        <tr>
        {{ create_entry(form.gen_param.trans_offset) }}<td>(mm, not arcmin!)</td>
        {{ create_entry(form.gen_param.focus_offset) }}<td>(mm)</td>
        </tr>
        <tr>
        {{ create_entry(form.gen_param.raster_scan) }}
        <td cellspan=2> &#160;</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry(form.gen_param.uninterrupt) }}
        {{ create_entry(form.gen_param.extended_src) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.obj_flag) }}
        {{ create_entry(form.gen_param.object) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.photometry_flag) }}
        {{ create_entry(form.gen_param.vmagnitude) }}
        </tr>
        <tr>
        {{ create_entry(form.gen_param.est_cnt_rate) }}
        {{ create_entry(form.gen_param.forder_cnt_rate) }}
        </tr>
    </table>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="dither_param">Dither
        {{ help_popup_page('../static/ocatdatapage/user_help.html#dither_flag', ' (Help)', 55) }}
    </h2>
    {% if form.dither_param.dither_flag.data != 'Y' %}
        {{form.open_dither()}}<br>
    {% else %}
        {{ create_entry(form.dither_param.dither_flag) }}
            <div style='margin-left:40px;'>
                <table border=0>
                    <tr>
                    {{ create_entry(form.dither_param.y_amp_asec) }}
                    {{ create_entry(form.dither_param.y_freq_asec) }}
                    {{ create_entry(form.dither_param.y_phase) }}
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.y_amp) }}
                    {{ create_entry(form.dither_param.y_freq) }}
                    <td colspan=1>&#160;</td>
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.z_amp_asec) }}
                    {{ create_entry(form.dither_param.z_freq_asec) }}
                    {{ create_entry(form.dither_param.z_phase) }}
                    </tr>
                    <tr>
                    {{ create_entry(form.dither_param.z_amp) }}
                    {{ create_entry(form.dither_param.z_freq) }}
                    <td colspan=1>&#160;</td>
                    </tr>
                </table>
            </div>
            <p style='padding-top:10px;'>
            To reflect the changes made in arcsec windows to degree displays or Dither YES/NO/NA confirmation, click: {{ form.refresh() }}
            </p>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    {% endif %}
    <h2 id="time_param">Time Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#time_constraints', ' (Help)', 55) }}
    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>
    {{ form.time_param.window_flag() }}
    {{ form.time_param.time_ordr() }}
    {% if form.time_param.window_flag.data != 'Y' %}
        {{form.open_time()}}<br>
    {% else %}
        <p>
        If you want to add ranks, press "Add Time Rank." 
        If you want to remove a rank, set "Window Constraint" to "NA", 
        then press "Remove NA Time Entry."<br>
        <b>Rank:</b>
        {{ form.time_param.add_time() }}
        {{ form.time_param.remove_time() }}
        </p>
        <div style="margin-left:40px">
        <table border = 0>
            <thead>
                <tr>
                <th style='padding-left:5px;'>{{ form.time_param.time_ordr.label.text }}</th>
                <th style='padding-left:5px;'>{{ form.time_param.window_constraint.label.text }}</th>
                <th style='padding-left:5px;'></th>
                <th style='padding-left:5px;'>{{ form.time_param.tstart_month.label.text }}</th>
                <th style='padding-left:5px;'>{{ form.time_param.tstart_date.label.text }}</th>
                <th style='padding-left:5px;'>{{ form.time_param.tstart_year.label.text }}</th>
                <th style='padding-left:5px;'>{{ form.time_param.tstart_time.label.text }}</th>
                </tr>
            </thead>
        <tbody>
        {% set time_ordr = form.time_param.time_ordr.data | int %}
        {% for k in range(time_ordr) %}
            <tr>
                <th style='padding-left:5px;'>{{ k+1 }}</th>
                <td>{{ form.time_param.window_constraint[k]() }}</td>
                <th style='padding-left:5px;'>Start</th>
                <td>{{form.time_param.tstart_month[k]()}}</td>
                <td>{{form.time_param.tstart_date[k]()}}</td>
                <td>{{form.time_param.tstart_year[k]()}}</td>
                <td>{{form.time_param.tstart_time[k](size=5)}}</td>
            </tr>
            <tr>
                <td colspan=6></td>
                <td>
                    {% for error in form.time_param.tstart_time[k].errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan=2></td>
                <th style='padding-left:5px;'>Stop</th>
                <td>{{form.time_param.tstop_month[k]()}}</td>
                <td>{{form.time_param.tstop_date[k]()}}</td>
                <td>{{form.time_param.tstop_year[k]()}}</td>
                <td>{{form.time_param.tstop_time[k](size=5)}}</td>
            </tr>
            <tr>
                <td colspan=6></td>
                <td>
                    {% for error in form.time_param.tstop_time[k].errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="roll_param">Roll Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#roll_constraints', ' (Help)', 55) }}
    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>

    {{ form.roll_param.roll_flag() }}
    {{ form.roll_param.roll_ordr() }}
    {% if form.roll_param.roll_flag.data != 'Y' %}
        {{form.open_roll()}}<br>
    {% else %}
        <p>
        If you want to add ranks, press "Add Roll Rank." 
        If you want to remove a rank, set "Rank" to "NA", 
        then press "Remove NA Roll Entry."
        </p>
        <p>
        <b>Rank: </b>
        {{ form.roll_param.add_roll() }}
        {{ form.roll_param.remove_roll() }}
        </p>
        <div style='margin-left:40px;'>
            <table border = 0>
                <thead>
                    <tr>
                        <th style='padding-left:5px;'>{{ form.roll_param.roll_ordr.label.text }}</th>
                        <th style='padding-left:5px;'>{{ form.roll_param.roll_constraint.label.text }}</th>
                        <th style='padding-left:5px;'>{{ form.roll_param.roll_180.label.text }}</th>
                        <th style='padding-left:5px;'>{{ form.roll_param.roll.label.text }}</th>
                        <th style='padding-left:5px;'>{{ form.roll_param.roll_tolerance.label.text }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set roll_ordr = form.roll_param.roll_ordr.data | int %}
                    {% for k in range(roll_ordr) %}
                        <tr>
                            <th style='padding-left:5px;'>{{ k+1 }}</th>
                            <td>{{ form.roll_param.roll_constraint[k]() }}</td>
                            <td>{{ form.roll_param.roll_180[k]() }}</td>
                            <td>{{ form.roll_param.roll[k](size=10) }}</td>
                            <td>{{ form.roll_param.roll_tolerance[k](size=10) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="other_param">Other Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#other_constraints', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>{{ create_entry(form.other_param.constr_in_remarks) }}</tr>
        <tr>{{ create_entry(form.other_param.pointing_constraint) }}</tr>
        {% if form.other_param.phase_constraint_flag.data in ['Y', 'P'] %}
            <tr>
            {{ create_entry(form.other_param.phase_constraint_flag) }}
            <table bordr =0>
                <tr>
                    {{ create_entry(form.other_param.phase_epoch) }}
                    {{ create_entry(form.other_param.phase_period) }}
                </tr>
                <tr>
                    {{ create_entry(form.other_param.phase_start) }}
                    {{ create_entry(form.other_param.phase_start_margin) }}
                </tr>
                <tr>
                    {{ create_entry(form.other_param.phase_end) }}
                    {{ create_entry(form.other_param.phase_end_margin) }}
                </tr>
            </table>
            </tr>
    </table>
    <table bordr=0>
        {% else %}
            <tr>{{ create_entry(form.other_param.phase_constraint_flag) }}</tr>
        {% endif %}            
        <tr>
            {{ create_entry(form.other_param.group_id) }}
            {{ create_entry(form.other_param.monitor_flag) }}
        </tr>
        <tr>
        {% if 'group_id' in form.data['other_param'].keys() %}
            <th>Remaining Observations in the Group: </th>
            <td colspan=3>
                {% if form.other_param.group_obsid.data|length > 0 %}
                    {% for ent in form.other_param.group_obsid.data %}
                        <span style='padding-left:5px;'></span>
                        <a href='../ocatdatapage/{{ ent }} '>{{ ent }}</a> 
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% elif form.other_param.monitor_flag.data == 'Y' %}
            <th>Remaining Observation in the Monitoring: </th>
            <td colspan=3>
                {% if form.other_param.monitor_series.data|length > 0 %}
                    {% for ent in form.other_param.monitor_series.data %}
                        <span style='padding-left:5px;'></span>
                        <a href='../ocatdatapage/{{ ent }} '>{{ ent }}</a> 
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
        <tr>
            {{ create_entry(form.other_param.pre_id) }}
            {{ create_entry(form.other_param.pre_min_lead) }}
        </tr>
        <tr>
            <td colspan=2>&#160;</td>
            {{ create_entry(form.other_param.pre_max_lead) }}
        </tr>
        <tr>
            {{ create_entry(form.other_param.multitelescope) }}
            {{ create_entry(form.other_param.observatories) }}
        </tr>
        <tr>
            {{ create_entry(form.other_param.multitelescope_interval) }}
            <td colspan=2>&#160;</td>
        </tr>
        </table>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="hrc_param">HRC Parameters
            {{ help_popup_page('../static/ocatdatapage/user_help.html#hrc_parameters', ' (Help)', 55) }}
        </h2>
        {% if form.gen_param.instrument.data not in ['HRC-I', 'HRC-S'] %}
            <h3>
                ObsID {{ form.gen_param.obsid.data }} is not an HRC observation. Instrument {{ form.gen_param.instrument.data }} is selected.
            </h3>
        {% else %}
            <table border=0>
                <tr>    
                {{ create_entry(form.hrc_param.hrc_timing_mode) }}
                {{ create_entry(form.hrc_param.hrc_zero_block) }}
                {{ create_entry(form.hrc_param.hrc_si_mode) }}
                </tr>
            </table>
        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="acis_param">ACIS Parameters
            {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_parameters', ' (Help)', 55) }}
        </h2>
        {% if form.gen_param.instrument.data not in ['ACIS-I', 'ACIS-S'] %}
            <h3>
                ObsID {{ form.gen_param.obsid.data }} is not an ACIS observation. Instrument {{ form.gen_param.instrument.data }} is selected.
            </h3>
        {% else %}
            <table>
                <tr>
                {{ create_entry(form.acis_param.exp_mode) }}
                {{ create_entry(form.acis_param.bep_pack) }}
                {{ create_entry(form.acis_param.frame_time) }}
                </tr>
                <tr>
                <td colspan=4>&#160;</td>
                {{ create_entry(form.acis_param.most_efficient) }}
                </tr>
            </table>
            <table>
                <tr>
                {{ create_entry(form.acis_param.dropped_chip_count) }}
                <tr>
            </table>
        
            <table>
                <tr>
                <td colspan=4>&#160;</td>
                {{ create_entry(form.acis_param.ccdi0_on) }}
                {{ create_entry(form.acis_param.ccdi1_on) }}
                <td colspan=4>&#160;</td>
                </tr>
                <tr>
                <td colspan=4>&#160;</td>
                {{ create_entry(form.acis_param.ccdi2_on) }}
                {{ create_entry(form.acis_param.ccdi3_on) }}
                <td colspan=4>&#160;</td>
                </tr>
                <tr>
                {{ create_entry(form.acis_param.ccds0_on) }}
                {{ create_entry(form.acis_param.ccds1_on) }}
                {{ create_entry(form.acis_param.ccds2_on) }}
                {{ create_entry(form.acis_param.ccds3_on) }}
                {{ create_entry(form.acis_param.ccds4_on) }}
                {{ create_entry(form.acis_param.ccds5_on) }}
                </tr>
            </table>
            <div style='padding-top:20px;'></div>
            <table>
                <tr>
                {{ create_entry(form.acis_param.subarray) }}
                <td colspan=4>
                <b>If you select YES, please fill the next two entries.</b>
                </td>
                </tr>
                <tr>
                {{ create_entry(form.acis_param.subarray_start_row) }}
                {{ create_entry(form.acis_param.subarray_row_count) }}
                <td>&#160;</td>
                </tr>
                <tr>
                {{ create_entry(form.acis_param.duty_cycle) }}
                <td colspan=4>
                <b>If you select YES, please fill the next two entries.</b>
                </td>
                </tr>
                <tr>
                {{ create_entry(form.acis_param.secondary_exp_count) }}
                {{ create_entry(form.acis_param.primary_exp_time) }}
                <td>&#160;</td>
                </tr>
                <tr>
                {{ create_entry(form.acis_param.onchip_sum) }}
                {{ create_entry(form.acis_param.onchip_row_count) }}
                {{ create_entry(form.acis_param.onchip_column_count) }}
                </tr>
                <tr>
                {{ create_entry(form.acis_param.eventfilter) }}
                {{ create_entry(form.acis_param.eventfilter_lower) }}
                {{ create_entry(form.acis_param.eventfilter_higher) }}
                </tr>
                <tr>
                {{ create_entry(form.acis_param.multiple_spectral_lines) }}
                {{ create_entry(form.acis_param.spectra_max_count) }}
                </tr>
            </table>
        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="aciswin_param">ACIS Window Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', ' (Help)', 55) }}
        </h2>
        {{ form.aciswin_param.spwindow_flag() }}
        {{ form.aciswin_param.aciswin_no() }}
        {% if form.gen_param.instrument.data not in ['ACIS-I', 'ACIS-S'] %}
            <h3>
                ObsID {{ form.gen_param.obsid.data }} is not an ACIS Observation. Instrument {{ form.gen_param.instrument.data }} is selected.
            </h3>
    
        {% elif form.aciswin_param.spwindow_flag.data != 'Y' %}
            {{form.open_aciswin()}}<br>
        {% else %}
            <p>
            If you want to add ranks, press "Add Window Rank." 
            If you want to remove a row, set <i>Chip</i> to "NA", then press "Remove NA Window Rank." 
            </p>
            {{ form.aciswin_param.add_window() }}
            {{ form.aciswin_param.remove_window() }}
            <p style='padding-top:20px; padding-bottom:10px;margin-left:20px; margin-right:20px;'>
            <b>Note</b>: By default, the sample rate is 0 and the window specified is an 
            <b>EXCLUSION</b> area. 
            To set an INCLUSION area, in ithe first window, set the sample rate to 1, and choose 
            a desired inclusion area.
            In the second window, set the sample rate to 0 and the window area to 1024 x 1024.
            For the case with the sample rate > 1, please refer to:
            {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', 'Help') }}.
            </p>
            
                <table border = 0>
                    <thead>
                        <tr>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.aciswin_no.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.chip.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.start_row.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.start_column.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.height.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.width.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.lower_threshold.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.pha_range.label.text }}</th>
                            <th style='padding-left:5px;'>{{ form.aciswin_param.sample.label.text }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set aciswin_no = form.aciswin_param.aciswin_no.data | int %}
                        {% for k in range(aciswin_no) %}
                            <tr>
                                <th style='padding-left:5px;'>{{ k+1 }}</th>
                                <td>{{ form.aciswin_param.chip[k]() }}</td>
                                <td>{{ form.aciswin_param.start_row[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.start_column[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.height[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.width[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.lower_threshold[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.pha_range[k](size=10) }}</td>
                                <td>{{ form.aciswin_param.sample[k](size=10) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="too_param">TOO Parameters
        {{ help_popup_page('../static/ocatdatapage/user_help.html#too_parameters', ' (Help)', 55) }}
        </h2>
        {% if form.too_param.tooid.data == None %}
            <h3>ObsID: {{ form.gen_param.obsid.data }} is not a DDT/TOO observation.</h3>
        {% else %}
            <table>
                <tr>
                {{ create_entry(form.too_param.tooid) }}
                </tr>
                <tr>
                {{ create_entry(form.too_param.too_trig) }}
                </tr>
                <tr>
                {{ create_entry(form.too_param.too_type) }}
                </tr>
                <tr>
            </table>
            <table>
                <th colspan=4>
                Exact response window (days):
                <span style='padding-right:30px;'></span>
                </th>
                {{ create_entry(form.too_param.too_start) }}
                {{ create_entry(form.too_param.too_stop) }}
                </tr>
            </table>
            <table>
                <tr>
                {{ create_entry(form.too_param.too_followup) }}
                </tr>
                <tr>
                {{ create_entry(form.too_param.too_remarks) }}
                </tr>
            </table>
        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2>Comments and Remarks
        {{ help_popup_page('../static/ocatdatapage/user_help.html#comments', ' (Help)', 55) }}
        </h2>
        <p>
        <strong>
        The remarks area below is reserved for remarks related to constraints, 
        actions/considerations that apply to the observation.
        Please put all other remarks/comments into the comment area below.
        </strong>
        </p>
        <table>
            <tr>
            <th>{{ form.gen_param.remarks.label.text }}:</th>
            <td>
                {{ form.gen_param.remarks(rows=10, cols=60) }}
            </td>
            </tr>
        </table>
        
        <p>
        <strong> 
        Comments are kept as a record of why a change was made.
        <br>
        If a CDO approval is required, or if you have a special 
        instruction for ARCOPS, add the comment in this area.
        </strong> 
        </p>
        
        <table>
            <tr>
            <th>{{ form.gen_param.comments.label.text }}:</th>
            <td>
                {{ form.gen_param.comments(rows=10, cols=60) }}
            </td>
            </tr>
        </table>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2>Options</h2>
        {% if form.gen_param.status.data in ['unobserved', 'scheduled', 'untriggered'] %}
        <table>
            <tr>
            <th>Normal Change</th>
            <td>Any changes other than APPROVAL status</td>
            </tr>
            <tr>
            <th>Observation is Approved for flight</th>
            <td>Adds ObsID to the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>ObsID no Longer ready to go</th>
            <td>REMOVE ObsID from the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>Split this ObsID</th>
            <td style='color:deeppink;'>
                Please add an explanation why you need<br>
                to split this observation in the comment area.
            </td>
            </tr>
        </table>
    
        <table>
            <tr>
            {% for subfield in form.asis %}
                <td>{{ subfield() }}</td>
                <td>{{ subfield.label }}</td>
            {% endfor %}
            </tr>
        </table>
        <p style='padding-top:10px;'>
            If you want to apply the same changes to other obsids, please list them blow.
            <br>
            Please read: 
            <a href="javascript:WindowOpener('../static/ocatdatapage/multi_obsids.html','multi')">
                how to use multiple obsid editing
            </a>
            for more details.
        </p>
        {{ form.multiobsid(size=80) }}
        <div style='padding-top:30px;'></div>
        {{ form.submit() }}
        {% else %}

        <p style='padding-bottom:20px;'>
            <strong style='font-size:130%;'>
            {% if ct_dict.get('status')[-1] in ['observed', 'archived', 'triggered'] %}
                This observation was already
            {% else %}
                This observation was 
            {% endif %}

            <span style='color:red;'>{{ ct_dict.get('status')[-1].upper() }}</span>,
            and you cannot update its parameter values anymore.
            </strong>
        </p>

        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <p style="padding-bottom:20px;">
        <span style="font-size:110%;">Link to:</span><br>
        <a href="javascript:void(0);" onclick="openTab('../express', 'Express');">Express Approval</a>
        <br>
        <a href="{{ cdo_http }}review_report/disp_report.cgi?{{ form.gen_param.proposal_number.data }}">Peer Review Report And Proposal</a>
        <br>
        <a href="{{ hlink }}">
        ChaSeR Sequence Summary (with Roll/Pitch/Visibility, etc.)</a>
        <br>
        <a href='https://cxc.cfa.harvard.edu/cgi-bin/target_search/search.html'>
        Chandra User Observation Search</a>
        </p>
</form>
{% endblock %}