{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- -->
<!-- import html macros -->
<!-- -->

<style>
    td {
        padding: 10px;
    }
    th {
        padding: 10px;
    }
</style>

{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}
<h1>Just  simple display of information with a header</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        Obsid</br>
        {{ ocat_data.get('obsid')}}</br>
        <b>General Parameters</b></br>
        {% for key in form.gen_param %}
            {{ key.label }} : {{key()}} </br>
        {% endfor %}
        <b>Dither Parameters</b></br>
        {% if form.dither_param.dither_flag == 'Y' %}
            <p>Thing</p><br>
        {% else %}
            {{ form.submit.open_dither() }}
        {% endif %}
        <b>Time Parameters</b></br>
        
        {{ form.submit.submit() }}<br/>
    </p>
</form>
{% endblock %}