##
##--- macro for ocat data page
##

##
##--- Sections
##
{% macro create_entry(param, len=10) %}
    <th style='padding-left:5px;'> {{ param.label }}: </th>
    {% if param.render_kw['readonly'] %}
        <td> {{ param.data }} </td>
    {% elif param.type == 'StringField' or param.type == 'FloatField'%}
        <td> {{ param(size = len) }} </td>
    {% elif param.type == 'SelectField'%}
        <td> {{ param() }} </td>
    {% else %}
        <td>Unspecified Field Type</td>
    {% endif %}
{% endmacro %}

{% macro help_popup_page(html, link_name, font_size=100, name='help') %}
    <a href="javascript:WindowOpener('{{ html }}', '{{ name }}')">
        <span style="font-size:{{ font_size }}%;">
            {{ link_name }}
        </span>
    </a>
{% endmacro %}

{% macro map_image_opener(param, color) %}    
    {% if param.data ==  'NoImage'%}
        <span style='color:{{ color }};'>No {{ param.data }} Link</span>
    {% else %}
        {% set link = form %}
        <a href="javascript:ImageOpener('{{ param.data }}')">
        <span style='color:{{ color }};'>{{ param.name }}</span>
        </a>
    {% endif %}
{% endmacro %}