##
##--- macro for ocat data page
##

##
##--- Sections
##
{% macro create_entry(param, size=10) %}
    <th style='padding-left:5px;'> {{ param.label.text }}: </th>
    {% if param.render_kw['readonly'] %}
        <td> {{ param.data }} </td>
    {% elif param.type in ('StringField', 'FloatField', 'IntegerField')%}
        <td> {{ param(size = size) }} </td>
    {% elif param.type == 'SelectField'%}
        <td> {{ param() }} </td>
    {% else %}
        <td>Unspecified Field Type</td>
    {% endif %}
{% endmacro %}

{% macro help_popup_page(html, link_name, font_size=100, name='help') %}
    <a href="javascript:WindowOpener('{{ html }}', '{{ name }}')">
        <span style="font-size:{{ font_size }}%;">
            {{ link_name }}
        </span>
    </a>
{% endmacro %}

{% macro map_image_opener(param, color) %}    
    {% if param.data ==  'NoImage'%}
        <span style='color:{{ color }};'>No {{ param.data }} Link</span>
    {% else %}
        {% set link = form %}
        <a href="javascript:ImageOpener('{{ param.data }}')">
        <span style='color:{{ color }};'>{{ param.label.text }}</span>
        </a>
    {% endif %}
{% endmacro %}

{% macro remark_section(remark_change) %}
    {% if remark_change != None %}
        <h4 style='text-decoration: underline;'>Original</h4>
            <p>
                {% if remark_change[0] != None %}
                    <span style='padding-left:50px;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;'>{{remark_change[0].replace('\n','<br>')}}</p>
                {% endif %}
            </p>
        <hr style='border-top:1px dotted;'>
        <h4 style='text-decoration: underline;'>New</h4>
            <p>
                {% if remark_change[1] != None %}
                    <span style='padding-left:50px;color:red;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;color:red;'>{{remark_change[1].replace('\n','<br>')}}</p>
                {% endif %}
            </p>
    {% else %}
        <h4 style='text-decoration: underline;'>Original</h4>
            <p>
                <span style='padding-left:50px;font-style:italic;'>NA</span>
            </p>
        <hr style='border-top:1px dotted;'>
        <h4 style='text-decoration: underline;'>New</h4>
            <p>
                <span style='padding-left:50px;font-style:italic;'>NA</span>
            </p>
    {% endif %}
{% endmacro %}
