{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Import Macros-->
{%  from 'orupdate/macros.html' import signoff_row, signoff_cell %}

{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}
<form method="POST">
    <table>
    {% for form, sql in zip(signoff_forms,signoff_sqls) %}
        {{signoff_row(form, sql, _NAME_BY_ID)}}
    {% endfor %}
    </table>
</form>
{% endblock%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='usint.js') }}"></script>
{% endblock%}