{% macro signoff_cell(field, status, user, time)%}
    <td>
    {% if status == 'Not Required' %}
        {{ status }}
    {% elif status == 'Signed' %}
        {{user.username}} {{datetime.fromtimestamp(time).strftime('%m/%d/%y')}}
    {% elif status == 'Discard' %}
        NA
    {% elif status == 'Pending' and field != None%}
        {{ field() }}
    {% endif %}
    </td>
{% endmacro%}

{% macro usint_cell(usint_field, approve_field, status, user, time)%}
    {% if status == 'Pending' and usint_field != None%}
        <td>{{ usint_field() }}<br>
        {% if approve_field != None%}
            {{ approve_field() }}
        {% endif %}
        </td>
    {% else %}
        {{ signoff_cell(usint_field, status, user, time) }}
    {% endif %}
{% endmacro%}

{% macro notes_cell(rev, multi_revision_info) %}
    {% set multi_state = multi_revision_info.get(rev.obsid) %}
    {% set notes = coerce_notes(rev.notes) %}
    <td>
        {% if multi_state['opened'] | length > 1 %}
            <span style='color:chocolate;'>Multiple Revisions Open</span><br>
        {% endif %}
        {% if multi_state['closed'] != [] and multi_state['closed'] | max > rev.revision_number %}
            <span style='color:darkorchid;'>
            Higher Rev # {{ multi_state['closed'] | max }} Was Already Signed Off
            </span>
            <br>
        {% endif %}
        {% if notes.get('large_coordinate_change') %}
            <span style='color:red;'>Large Coordinate Shift</span><br>
        {% endif %}
        {% if notes.get('comment_change') %}
            <span style='color:darkcyan;'>
            New Comment
            </span>
            <br>
        {% endif %}
    </td>
{% endmacro %}

{% macro revision_info_cell(revision, multi_revision_info = None)%}
    {% if get_more(get_more(multi_revision_info, revision.obsid), 'color') != None %}
    <th class='cent' style='background-color:{{ multi_revision_info[revision.obsid].get("color") }};'>
    {% else %}
    <th class='cent'>
    {% endif %}
        <!-- make link to chkupdata -->
        <a onclick="javascript:window.open('{{url_for('chkupdata.index', obsidrev=revision.obsidrev() )}}', 'Chkupdata{{ revision.obsidrev() }}')", style="cursor:pointer">
        <u>{{ revision.obsidrev() }}</u></a>
        <br>
        {{ revision.sequence_number }}<br>
        {{ datetime.fromtimestamp(revision.time).strftime('%m/%d/%y') }}<br>
        {{ revision.user.username }}
    </th>
{% endmacro %}

{% macro open_signoff_row(rev, sign, form, multi_revision_info, is_approved)%}
    <tr>
        {{ revision_info_cell(rev, multi_revision_info) }}
        {{ signoff_cell(form.gen, sign.general_status, sign.general_signoff, sign.general_time) }}
        {{ signoff_cell(form.acis, sign.acis_status, sign.acis_signoff, sign.acis_time) }}
        {{ signoff_cell(form.acis_si, sign.acis_si_status, sign.acis_si_signoff, sign.acis_si_time) }}
        {{ signoff_cell(form.hrc_si, sign.hrc_si_status, sign.hrc_si_signoff_id, sign.hrc_si_time) }}
        {% if is_approved %}
            {{ usint_cell(form.usint, None, sign.usint_status, sign.usint_signoff, sign.usint_time) }}
        {% else %}
            {{ usint_cell(form.usint, form.approve, sign.usint_status, sign.usint_signoff, sign.usint_time) }}
        {% endif %}
        {{ notes_cell(rev, multi_revision_info)}}
    </tr>
{% endmacro%}

{% macro closed_signoff_row(rev, sign)%}
    <tr>
        {{ revision_info_cell(rev) }}
        {{ signoff_cell(None, sign.general_status, sign.general_signoff, sign.general_time) }}
        {{ signoff_cell(None, sign.acis_status, sign.acis_signoff, sign.acis_time) }}
        {{ signoff_cell(None, sign.acis_si_status, sign.acis_si_signoff, sign.acis_si_time) }}
        {{ signoff_cell(None, sign.hrc_si_status, sign.hrc_si_signoff, sign.hrc_si_time) }}
        {{ usint_cell(None, None, sign.usint_status, sign.usint_signoff, sign.usint_time) }}
        <td></td>
    </tr>
{% endmacro%}

{% macro help_popup_page(html, link_name, font_size=100) %}
<a href="javascript:WindowOpener('{{ html }}', 'orupdate_help', x=1000, y=600)">
    <span style="font-size:{{ font_size }}%;">
   {{ link_name }}
    </span>
</a>
{% endmacro %}