{% macro signoff_cell(field, status, user, time)%}
    <td>
    {% if status == 'Pending' %}
        {{ field() }}
    {% elif status == 'Not Required' %}
        {{ status }}
    {% elif status == 'Signed' %}
        {{user}} {{datetime.fromtimestamp(time).strftime('%m/%d/%y')}}
    {% elif status == 'Discard' %}
        NA
    {% endif %}
    </td>
{% endmacro%}

{% macro signoff_row(form, sql, _NAME_BY_ID)%}
    <tr>
        {{ signoff_cell(form.gen, sql.general_status, _NAME_BY_ID.get(sql.general_signoff_id), sql.general_time) }}
        {{ signoff_cell(form.acis, sql.acis_status, _NAME_BY_ID.get(sql.acis_signoff_id), sql.acis_time) }}
        {{ signoff_cell(form.acis_si, sql.acis_si_status, _NAME_BY_ID.get(sql.acis_si_signoff_id), sql.acis_si_time) }}
        {{ signoff_cell(form.hrc_si, sql.hrc_si_status, _NAME_BY_ID.get(sql.hrc_si_signoff_id), sql.hrc_si_time) }}
        {{ signoff_cell(form.usint, sql.usint_status, _NAME_BY_ID.get(sql.usint_signoff_id), sql.usint_time) }}
    </tr>
{% endmacro%}