{% macro signoff_cell(field, status, user, time)%}
    <td>
    {% if status == 'Not Required' %}
        {{ status }}
    {% elif status == 'Signed' %}
        {{user.username}} {{datetime.fromtimestamp(time).strftime('%m/%d/%y')}}
    {% elif status == 'Discard' %}
        NA
    {% elif status == 'Pending' and field != None%}
        {{ field() }}
    {% endif %}
    </td>
{% endmacro%}

{% macro usint_cell(usint_field, approve_field, status, user, time)%}
    {% if status == 'Pending' and usint_field != None and approve_field != None %}
        <td>{{ usint_field() }}<br>{{ approve_field() }}</td>
    {% else %}
        {{ signoff_cell(usint_field, status, user, time) }}
    {% endif %}
{% endmacro%}

{% macro revision_info_cell(revision)%}
    <th class='cent' style='background-color:white;'>
        <!-- make link to chkupdata -->
        <u>{{ revision.obsid }}.{{str(revision.revision_number).zfill(3)}}</u><br>
        {{ revision.sequence_number }}<br>
        {{ datetime.fromtimestamp(revision.time).strftime('%m/%d/%y') }}<br>
        {{ revision.user.username }}
    </th>
{% endmacro %}

{% macro open_signoff_row(rev, form, sql)%}
    <tr>
        {{ revision_info_cell(rev) }}
        {{ signoff_cell(form.gen, sql.general_status, sql.general_signoff, sql.general_time) }}
        {{ signoff_cell(form.acis, sql.acis_status, sql.acis_signoff, sql.acis_time) }}
        {{ signoff_cell(form.acis_si, sql.acis_si_status, sql.acis_si_signoff, sql.acis_si_time) }}
        {{ signoff_cell(form.hrc_si, sql.hrc_si_status, sql.hrc_si_signoff_id, sql.hrc_si_time) }}
        {{ usint_cell(form.usint, form.approve, sql.usint_status, sql.usint_signoff, sql.usint_time) }}
    </tr>
{% endmacro%}

{% macro closed_signoff_row(rev, sql)%}
    <tr>
        {{ revision_info_cell(rev) }}
        {{ signoff_cell(None, sql.general_status, sql.general_signoff, sql.general_time) }}
        {{ signoff_cell(None, sql.acis_status, sql.acis_signoff, sql.acis_time) }}
        {{ signoff_cell(None, sql.acis_si_status, sql.acis_si_signoff, sql.acis_si_time) }}
        {{ signoff_cell(None, sql.hrc_si_status, sql.hrc_si_signoff, sql.hrc_si_time) }}
        {{ usint_cell(None, None, sql.usint_status, sql.usint_signoff, sql.usint_time) }}
    </tr>
{% endmacro%}

{% macro help_popup_page(html, link_name, font_size=100) %}
<a href="javascript:WindowOpener('{{ html }}', 'orupdate_help', x=1000, y=600)">
    <span style="font-size:{{ font_size }}%;">
   {{ link_name }}
    </span>
</a>
{% endmacro %}